@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}

@media (min-width: 991px) {
  .collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
}

.hero {
  background-image: url("./images/11.jpg");
  /* The image used */
  height: 90vh;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  position: relative;
}

.hero .msg {
  position: fixed;
  top: 10;
  left: 0;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.arrow-down {
  position: absolute;
  bottom: 15px;
  left: 50%;
  cursor: pointer;
}

.arrow-down:hover {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.arrow-down:active {
  -webkit-animation: shake 0.4s;
          animation: shake 0.4s;
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: skewX(-40deg);
            transform: skewX(-40deg);
  }
  5% {
    -webkit-transform: skewX(40deg);
            transform: skewX(40deg);
  }
  10% {
    -webkit-transform: skewX(-40deg);
            transform: skewX(-40deg);
  }
  15% {
    -webkit-transform: skewX(40deg);
            transform: skewX(40deg);
  }
  20% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: skewX(-40deg);
            transform: skewX(-40deg);
  }
  5% {
    -webkit-transform: skewX(40deg);
            transform: skewX(40deg);
  }
  10% {
    -webkit-transform: skewX(-40deg);
            transform: skewX(-40deg);
  }
  15% {
    -webkit-transform: skewX(40deg);
            transform: skewX(40deg);
  }
  20% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.img-fluid {
  width: 100%;
}

.about {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
